################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sigion-os-plymouth-theme/FileContentIndex/3665dc2f-3d88-49e9-9630-e5330d8fb0cb.vsidx
/.vs/sigion-os-plymouth-theme/FileContentIndex/b49b4135-c768-46e8-bf2f-62da854c55ec.vsidx
/.vs/sigion-os-plymouth-theme/FileContentIndex
/.vs/slnx.sqlite
